div {
	position: absolute;
	width: 200px;
	height: 200px;
}

div img {
	width: 200px;
	height: 200px;
}

div table tr td {
	width: 64px;
	height: 64px;
	text-align: center;
	border: 1px solid;
}

.top-left {
	top: 0px;
	left: 0px;
	background: lightblue;
	z-index: 1;
}

.top-right {
	top: 0px;
	right: 0px;
	z-index: 2;
}

.bottom-left {
	bottom: 0px;
	left: 0px;
	z-index: 3;
}

.buttons {
	position: absolute;
	left: 50%;
	margin-left: -125px;
	z-index: 100;
	width: 210px;
}

.buttons button {
	width: 100px;
}